rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all files.
    // This is common for files like category images, product images, etc.
    match /{allPaths=**} {
      allow read;
    }

    // Allow write access only to specific, known paths.
    // This is a security measure to prevent unauthorized uploads.
    // We explicitly allow uploads to paths starting with 'categories/', 'products/', 'bids/', etc.
    match /categories/{allPaths=**} {
      allow write;
    }
    match /products/{allPaths=**} {
      allow write;
    }
    match /bids/{allPaths=**} {
      allow write;
    }
     match /sourcing_requests/{allPaths=**} {
      allow write;
    }
    match /blog/{allPaths=**} {
        allow write;
    }
  }
}
